# Виртуальные окружения
.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo

# Файлы uv
.uv/
.venv-*

# Служебные файлы
.DS_Store
.dockerignore
.git
.gitignore

# Логи
*.log

# Локальные настройки
.env
*.env.local
