services:
  placeholder:
    image: ghcr.io/deeerain/placeholder_service:latest
    container_name: "placeholder-service"
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
